.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
  text-align: left; /* Optionally center the content */
}

.chart-container {
  width: 800px;
  height: 500px;
  /*margin: 20px auto; */ /* Center charts horizontally */ 
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.input-group {
  display: flex; /* Align items in a row */
  justify-content: center; /* Center the items horizontally */
  margin-bottom: 10px; /* Space below the group */
}

.stock-input {
  /* Adjustments may be needed depending on your exact layout needs */
  padding: 5px;
  margin-right: 5px; /* Ensure there is space between the input and the button */
  width: 60px; /* Width just enough for 4 characters */
}

.chart-button {
  /* Adjustments may be needed depending on your exact layout needs */
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

input,
button {
  padding: 5px 10px; /* Example padding */
  margin-bottom: 10px; /* Spacing beneath input/button */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
